@model ESchool.Web.ViewModels.Students.StudentViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Student</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Клас
                </th>
                <th>
                    Email
                </th>
                <th>
                    Exams
                </th>
                <th>
                    Attendances
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <td>
                        @Model.FullNameAndBirthDate
                    </td>
                    <td>
                        @Model.CourseDescription
                    </td>
                    <td>
                        @Model.Email
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Exams" asp-route-id="@Model.Id"
                           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i>Exams
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Attendances" asp-route-id="@Model.Id"
                           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i>Attendaces
                        </a>
                    </td>


                </tr>
        </tbody>
    </table>

</div>