@model ESchool.Web.ViewModels.Parents.IndexViewModel
@using ESchool.Common

@{
    ViewData["Title"] = "All";
}

<h1>All My Students</h1>


<div class="text-center">


    <h1 class="display-4">Hello @Model.FullName</h1>

    <h1> </h1>

    <h1 class="mb-0 mx-auto">Welcome to @GlobalConstants.SystemName!</h1>

    <h1> </h1>



    <p class="lead text-gray-800 mb-5">Username : @Model.UserUserName</p>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Емаил
            </th>

            <th>
                Проба
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParentStudents)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>

                <td>
                    @item.FullNameAndBirthDate
                </td>

                <td>
                    <a asp-controller="Dashboard" asp-action="Exams" asp-route-id="@item.Id"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i>Exams
                    </a>
                </td>
                <td>
                    <a asp-controller="Dashboard" asp-action="Attendances" asp-route-id="@item.Id"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i>Attendaces
                    </a>
                </td>


            </tr>
        }
    </tbody>
</table>

