@model ESchool.Web.ViewModels.Teachers.AllTeachersViewModel
@{
    ViewData["Title"] = "All";
    var userId = string.Empty;

    bool isEmpty = Model.Teachers.Any(x => x.UserId == null);

    if (isEmpty)
    {
        userId = "Empty";
    }



}

<h1>AllTeachers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Предмет
            </th>
            <th>
                UserId
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teachers)
        {
        <tr>
            <td>
                @item.Id)
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.SubjectDescription
            </td>

            <td>
                @(item.UserId == null ? "Empty" : item.UserId)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

