@model ESchool.Web.ViewModels.Classrooms.AllClassroomViewModel

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер стая
            </th>
            <th>
                Учител
            </th>

            <th>
                Предмет
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classrooms)
        {
        <tr>
            <td>
                @item.NumberDescription
            </td>
            <td>
                @item.TeacherFirstName
            </td>

            <td>
                @item.TeacherSubjectDescription
            </td>

            <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }
    </tbody>
</table>
