@model ESchool.Web.ViewModels.Administration.Users.AllUsersViewModel
@{
    ViewData["Title"] = "AllUsers";

    var roles = string.Empty;
    var userId = string.Empty;
}


<div class="row">

    <div class="col-lg-12">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Users</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1>AllUsers</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Date</th>
                                <th>Roles</th>
                                <th>Add To Role</th>
                                <th>Remove From Role</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>UserName</th>
                                <th>Date</th>
                                <th>Roles</th>
                                <th>Add To Role</th>
                                <th>Remove From Role</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.AllUsers)
                            {
                               
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.CreatedOn
                                </td>
                                <td>
                                    @(roles = string.Join(" | ", item.Roles.Select(x => x.Name)))
                                </td>
                                <td>
                                    
                                    @*<form asp-action="EditUserRoles" method="post">
                                        <input type="hidden" asp-for="@item.UserId" />
                                        <div class="dropdown mb-4">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Add To Role
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                @foreach (var role in Model.Roles.Where(x => item.Roles.Any(n => n.Name != x.Name)))
                                                {
                                                 
                                                    <a class="dropdown-item" asp-controller="Users" asp-action="EditUserRoles" asp-route-id="roleId">@role.Name</a>
                                                }
                                            </div>
                                        </div>

                                    </form>*@


                                </td>
                                <td>
                                   
                                    <a asp-controller="Users" asp-action="EditUserRoles"  asp-route-id="@item.UserId">Edit</a>
                                  
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>