@model ESchool.Web.ViewModels.Administration.Users.EditRoleViewModel

@{
    ViewData["Title"] = "Edit";
    var id = Model.Id;
}

<h1>Edit</h1>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Role @Model.Name</h1>
            <!-- DataTales Example -->
            <form asp-action="EditRole" method="post">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">

                        @*<h6> <a asp-controller="Students" asp-action="Create">Create New Student</a> </h6>*@
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Date</th>
                                        <th>IsInRole</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Date</th>
                                        <th>IsInRole</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model.RoleUsers)
                                    {
                                        <tr>
                                            <td>
                                                @item.UserName
                                            </td>
                                            <td>
                                                @item.CreatedOn
                                            </td>
                                            <td>
                                                @*<div class="form-check m-1">
                                                        <input type="hidden" asp-for="@item.UserId" />
                                                        <input type="hidden" asp-for="@item.UserName" />
                                                        <input asp-for="@item.IsSelected" class="form-check-input" />
                                                        <label class="form-check-label"> @item.UserName </label>
                                                    </div>*@

                                                <a asp-action="EditRole" asp-route-id="Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                        <i class="fas fa-download fa-sm text-white-50"></i>Add Roll
                                                    </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <a asp-controller="Users" asp-action="EditRole" asp-route-id="Id" class="btn btn-primary">Cancel</a>
                            </div>
                            @*<a asp-action="Edit" asp-route-id="Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                    <i class="fas fa-download fa-sm text-white-50"></i>Add Roll
                                </a>*@
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>




